.card.unpinned
  %h2 Project Managers

  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus pellentesque pretium. Nam ut congue sem. Donec cursus auctor auctor. Proin egestas fermentum ipsum, eu sagittis elit consectetur in. Maecenas sollicitudin dolor faucibus lacus aliquet in fringilla est condimentum. Donec bibendum blandit erat, ut molestie risus faucibus a. Donec sed sem quis sem rhoncus euismod. Suspendisse augue est, volutpat a ullamcorper a, porttitor sed felis. Duis aliquam imperdiet sagittis. Integer vel nunc vel felis venenatis facilisis. Curabitur ultrices viverra pulvinar. Donec ornare lacus non diam egestas a convallis odio aliquam. Quisque iaculis, ligula eu tempus malesuada, nibh elit hendrerit ligula, ut viverra sem massa et libero.

  %ol
    %li Active project tracking
    %li Budget management
    %li Agile workflow
    %li Active feature communication

  = link_to 'Create a Project', [:new, :project], class: 'btn'

.card.unpinned
  %h2 Developers

  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus pellentesque pretium. Nam ut congue sem. Donec cursus auctor auctor. Proin egestas fermentum ipsum, eu sagittis elit consectetur in. Maecenas sollicitudin dolor faucibus lacus aliquet in fringilla est condimentum. Donec bibendum blandit erat, ut molestie risus faucibus a. Donec sed sem quis sem rhoncus euismod. Suspendisse augue est, volutpat a ullamcorper a, porttitor sed felis. Duis aliquam imperdiet sagittis. Integer vel nunc vel felis venenatis facilisis. Curabitur ultrices viverra pulvinar. Donec ornare lacus non diam egestas a convallis odio aliquam. Quisque iaculis, ligula eu tempus malesuada, nibh elit hendrerit ligula, ut viverra sem massa et libero.

  %ol
    %li Secure payments
    %li Agile toolset for epics, user stories, et al
    %li Varied work pool
    %li Funded micro work

  = link_to 'Find Work', [:projects], class: 'btn'

.card.unpinned
  %h2 Open Source

  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus pellentesque pretium. Nam ut congue sem. Donec cursus auctor auctor. Proin egestas fermentum ipsum, eu sagittis elit consectetur in. Maecenas sollicitudin dolor faucibus lacus aliquet in fringilla est condimentum. Donec bibendum blandit erat, ut molestie risus faucibus a. Donec sed sem quis sem rhoncus euismod. Suspendisse augue est, volutpat a ullamcorper a, porttitor sed felis. Duis aliquam imperdiet sagittis. Integer vel nunc vel felis venenatis facilisis. Curabitur ultrices viverra pulvinar. Donec ornare lacus non diam egestas a convallis odio aliquam. Quisque iaculis, ligula eu tempus malesuada, nibh elit hendrerit ligula, ut viverra sem massa et libero.

  %ol
    %li Free agile toolset
    %li Active funding platform
    %li Open transparent communications
    %li Social integration
  
  = link_to 'Get Funded', [:new, :project], class: 'btn'
